:root {
    --colour1: #FFF;
    --colour2: #C4DAD2;
    --colour3: #6A9C89;
    --colour4: #16423C;
    --colour5: #000;

    --navbar-height: 75px;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial;

    box-sizing: border-box;

    color: var(--colour1);
}

body {
    padding-top: calc(var(--navbar-height) + 25px);
    padding-left: 25px;
    padding-right: 25px;
}