nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);

    background-color: var(--colour2);

    padding: 8px 15px;

    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid var(--colour3);
    box-shadow: 0 10px 10px #00000040;

    z-index: 150;

    transition: all 0.5s;
}

nav .black-overlay {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--colour5);

    opacity: 0;

    pointer-events: none;

    transition: all 0.25s;
}

nav .black-overlay.show {
    opacity: 0.5;

    pointer-events: all;
}

nav .logo {
    height: calc(var(--navbar-height) - 16px);
}

nav .logo img {
    height: 100%;
}

nav .search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    transition: opacity 0.5s;
}

nav .search .search-bar {
    background-color: transparent;
    border: 2px solid var(--colour3);
    border-radius: 10px;

    height: 45px;
    width: 400px;

    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

nav .search .search-bar input {
    font-size: 16px;
    background-color: transparent;
    border: none;

    width: calc(100% - 10px);

    outline: none;

    pointer-events: all;
}

nav .search .search-bar input::placeholder {
    color: var(--colour3);
}

nav .search .search-bar i {
    color: var(--colour3);
    height: 100%;
    display: flex;
    align-items: center;
}

nav .search-results {
    position: absolute;
    top: calc(var(--navbar-height) + 20px);
    left: 0;
    width: 100%;
    max-height: 300px;

    display: flex;
    justify-content: center;

    pointer-events: none;
}

nav .search-results .search-contents {
    width: 400px;
    padding: 25px;
    background-color: var(--colour2);
    border-radius: 10px;
    border: 2px solid var(--colour3);

    display: flex;
    flex-direction: column;
    align-items: center;

    scrollbar-width: none;
    overflow: scroll;

    opacity: 0;

    transition: all 0.5s;
}

nav .search-results .search-contents.active {
    opacity: 1;
    pointer-events: all;
}

nav .search-results .search-contents.result {
    padding: 11px;
    gap: 10px;
}

nav .search-results .search-contents .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

nav .search-results .search-contents.result .no-results {
    display: none;
}

nav .search-results .search-contents .no-results h1 {
    font-size: 2.5rem;
}

nav .search-results .search-contents .no-results i {
    font-size: 2.5rem;
    opacity: 0.5;
}

nav .search-results .search-contents .game {
    width: 100%;
    min-height: 100px;
    height: 100px;
    padding: 8px;

    border-radius: 10px;
    background-color: var(--colour3);

    display: flex;
    justify-content: space-between;

    text-decoration: none;
}

nav .search-results .search-contents .game .thumb {
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
}

nav .search-results .search-contents .game .thumb img {
    height: 100%;
    object-fit: cover;

    transition: all 0.25s;
}

nav .search-results .search-contents .game .thumb img:hover {
    scale: 1.1;
}

nav .search-results .search-contents .game .text {
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 1rem;
}

nav .search-results .search-contents .game .text h1 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.5em;
}

nav .search-results .search-contents .game .text p {
    opacity: 0.5;
    font-size: 1em;
    text-align: right;
}

nav .nav-buttons {
    height: calc(var(--navbar-height) - 30px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    margin: auto 0;
}

nav .nav-buttons .notification-dot {
    position: absolute;
    top: -3px;
    right: -3px;
    height: 15px;
    width: 15px;

    background-color: var(--colour3);

    border: 3px solid var(--colour2);
    border-radius: 10px;

    opacity: 0;

    transition: all 0.5s;
}

nav .nav-buttons .notification-dot.new {
    opacity: 1;
}

nav .nav-buttons > * {
    height: 100%;
    aspect-ratio: 1;

    position: relative;

    background-color: transparent;

    border: 2px solid var(--colour3);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--colour3);
    font-size: 23px;

    cursor: pointer;

    transition: all 0.25s;
}

nav .nav-buttons > * i {
    color: inherit;
    font-size: inherit;
}

nav .nav-buttons > *:hover {
    background-color: var(--colour3);
    color: var(--colour1);
}

nav .nav-buttons > *:hover .notification-dot {
    background-color: var(--colour2);
    border-color: var(--colour3);
}

nav .box {
    position: fixed;
    top: 95px;
    bottom: 20px;
    right: 20px;
    width: 400px;

    background-color: var(--colour2);
    border: 2px solid var(--colour3);
    border-radius: 20px;

    padding: 20px;

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;

    overflow: hidden;

    opacity: 0;
    translate: calc(100% + 20px);

    transition: all 0.5s;
}

nav .box.show {
    opacity: 1;
    translate: 0;
}

nav .box .box-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .box .box-header h1 {
    font-size: 2.5rem;
}

nav .box .box-header i {
    background-color: transparent;
    color: var(--colour3);

    border: 2px solid var(--colour3);
    border-radius: 10px;

    padding: 10px 13px;

    cursor: pointer;

    transition: all 0.25s;
}

nav .box .box-header i:hover {
    background-color: var(--colour3);
    color: var(--colour1);
}

nav .list {
    border: 2px solid var(--colour3);

    border-radius: 20px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: scroll;
    scrollbar-width: none;
}

nav .favourites .favourite-games.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .favourites .favourite-games.empty .empty-text {
    display: flex;
}

nav .favourites .favourite-games .empty-text {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    display: none;
}

nav .favourites .favourite-games .empty-text h1 {
    font-size: 1.5rem;
    text-align: center;
}

nav .favourites .favourite-games .empty-text i {
    font-size: 4rem;
    opacity: 0.5;
}

nav .favourites .favourite-games .game {
    width: 100%;
    height: 160px;
    background-color: var(--colour3);

    border-radius: 20px;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .favourites .favourite-games .game .thumbnail {
    height: 100%;

    background-color: var(--colour2);

    border-radius: 10px;
    border: none;

    overflow: hidden;
}

nav .favourites .favourite-games .game .thumbnail img {
    height: 100%;
    object-fit: cover;

    transition: all 0.25s;
}

nav .favourites .favourite-games .game .thumbnail img:hover {
    scale: 1.1;
}

nav .favourites .favourite-games .game .delete {
    padding: 11px 13px;

    border: 2px solid var(--colour2);
    border-radius: 10px;
    
    color: var(--colour2);

    cursor: pointer;

    transition: all 0.25s;
}

nav .favourites .favourite-games .game .delete:hover {
    color: var(--colour3);
    background-color: var(--colour2);
}

nav .favourites .favourite-games .game .delete i {
    color: inherit;
}

nav .notifications .item {
    width: 100%;
    height: 100px;

    padding: 10px;

    background-color: var(--colour3);
    border-radius: 20px;

    display: flex;
    gap: 20px;
}

nav .notifications .item .icon {
    height: 100%;
    aspect-ratio: 1;

    background-color: #00000000;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .notifications .item .icon:hover {
    background-color: #00000040;
}

nav .notifications .item .icon i {
    font-size: 30px;
}

nav .notifications .item .text {
    width: 100%;

    margin-right: 5px;

    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .notifications .item .text p {
    opacity: 0.75;
    font-size: 0.75rem;
}

#hamburger-toggle {
    display: none;
}

#hamburger-toggle:checked ~ nav {
    position: fixed;
    border: none;
    height: 100%;
}

#hamburger-toggle:checked ~ nav .hamburger .hamburger-icon {
    display: none;
}

#hamburger-toggle:checked ~ nav .x-icon {
    display: flex;
}

#hamburger-toggle:checked ~ nav .search {
    top: var(--navbar-height);
    height: var(--navbar-height);
    padding: 0 10px;
}

#hamburger-toggle:checked ~ nav .search .search-bar {
    opacity: 1;
    height: 45px;
    width: 100%;
    display: flex;
    margin: 0;
    border: 2px solid var(--colour3);
    padding: 0 10px;
}

#hamburger-toggle:checked ~ nav .search-results {
    top: calc(2 * var(--navbar-height) + 10px);
    max-height: calc(100% - 2 * var(--navbar-height) - 90px);
    padding: 0 10px;
}

#hamburger-toggle:checked ~ nav .nav-buttons {
    position: fixed;
    bottom: 15px;
    right: 15px;

    display: flex;

    height: 50px;
    width: unset;

    opacity: 1;
}

nav .hamburger {
    height: calc(var(--navbar-height) - 16px);

    display: none;
    align-items: center;
}

nav .x-icon {
    display: none;
}

nav .hamburger i {
    font-size: 23px;
    color: var(--colour3);
}

@media (max-width: 1000px) {
    nav {
        --navbar-height: 60px;
    }

    nav .search .search-bar {
        width: 0;
        height: 0;
        padding: 0;
        border: none;
        overflow: hidden;

        opacity: 0;

        transition: opacity 0.5s ;
    }

    nav .search-results .search-contents {
        margin: 0;
        width: 100%;
    }

    nav .search-results .search-contents .game {
        min-height: 110px;
    }

    nav .search-results .search-contents .game .text {
        font-size: 0.9rem;
    }

    nav .nav-buttons {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;

        transition: opacity 0.5s 0.25s;
    }

    nav .hamburger {
        display: flex;
    }

    nav .box {
        translate: 0 -100%;

        top: 0;
        bottom: 80px;
        left: 0;
        right: 0;
        width: unset;

        border-radius: unset;
        border: none;
    }

    nav .favourites .favourite-games .game {
        height: 125px;
    }
}