main {
    display: flex;
}

main .game {
    width: 100%;
    aspect-ratio: 16/9;

    scale: 0.75;
    translate: -12.5% -12.5%;

    background-color: var(--colour1);

    border-radius: 20px 20px 10px 10px;


    --game-bottom-height: 75px;

    font-size: 25px;

    position: relative;

    box-shadow: -10px -10px 25px rgba(255, 255, 255, 0.15),
    10px 10px 25px rgba(0, 0, 0, 0.25);

    transition: all 0.5s;
}

main .game.fullscreen {
    aspect-ratio: unset;

    scale: 1;

    translate: 0;

    position: fixed;
    inset: 0;

    z-index: 200;
}

main .game.fullscreen iframe,
main .game.fullscreen .load-screen,
main .game.fullscreen .game-bottom {
    border-radius: unset;
}

main .game iframe {
    width: 100%;
    height: calc(100% - var(--game-bottom-height));

    border-radius: 20px 20px 0 0;
}

main .game .load-screen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    background-color: var(--colour3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    border-radius: 20px 20px 10px 10px;

    z-index: 50;

    transition: all 0.5s;
}

main .game .load-screen.loaded {
    opacity: 0;
    pointer-events: none;
}

main .game .load-screen h1 {
    color: var(--colour2);
}

main .game .load-screen .dots {
    display: flex;
    gap: 20px;
}

main .game .load-screen .rotate {
    display: none;
}

main .game .load-screen .dots .dot {
    height: 1em;
    aspect-ratio: 1;
    background-color: var(--colour2);
    border-radius: 9999px;

    animation: dot-bounce 1.25s ease-in-out infinite forwards;
}

main .game .load-screen .dots .dot:nth-child(2) {
    animation-delay: -0.25s;
}

main .game .load-screen .dots .dot:nth-child(3) {
    animation-delay: -0.5s;
}

main .game .game-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--game-bottom-height);

    padding: 10px 15px;

    background-color: var(--colour2);

    border-radius: 0 0 10px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 150;
}

main .game .game-bottom .btn {
    height: 100%;
    aspect-ratio: 1;
    border: 2px solid var(--colour3);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--colour3);

    border-radius: 10px;

    cursor: pointer;

    transition: all 0.25s;
}

main .game .game-bottom .btn i {
    color: inherit;
    font-size: inherit;
}

main .game .game-bottom .btn:hover {
    background-color: var(--colour3);
    color: var(--colour2);
}

main .game .game-bottom h1 {
    text-transform: uppercase;

    text-wrap: nowrap;
    text-align: center;
}

main .description {
    background-color: var(--colour2);
    position: absolute;
    top: clac(var(--navbar-height) + 25px);
    right: 25px;
    width: calc(25% - 40px);

    border-radius: 20px;

    padding: 15px;

    box-shadow: -10px -10px 25px rgba(255, 255, 255, 0.15),
    10px 10px 25px rgba(0, 0, 0, 0.25);

    font-size: 1rem;

    margin-bottom: 100px;
}

main .description h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
}

main .description p {
    font-size: 1.2em;
}

main .description h2 {
    font-size: 1.75em;
    margin: 10px 0;
}

main .description a {
    font-size: 1.2em;
    text-decoration: none;

    position: relative;

    font-weight: 500;
}

main .description a:hover::after {
    width: 100%;
}

main .description a::after {
    content: attr(data-creator);

    position: absolute;
    top: 0;
    left: 0;
    width: 0%;

    text-wrap: nowrap;
    overflow: hidden;

    color: var(--colour3);

    transition: all 0.75s;
}

h1.subtitle {
    margin-top: 100px;
    margin-bottom: 50px;

    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.other-games {
    width: 100%;

    display: flex;
    justify-content:  center;
    gap: 50px;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

.other-games .game {
    height: 200px;
    aspect-ratio: 16 / 9;

    border-radius: 10px;
    border: 2px solid var(--colour3);

    background-color: var(--colour2);

    position: relative;

    overflow: hidden;

    box-shadow: -10px -10px 25px rgba(255, 255, 255, 0.15),
    10px 10px 25px rgba(0, 0, 0, 0.25);

    transition: all 0.25s;
}

.other-games .game .thumb {
    height: 100%;
    width: 100%;
    
    overflow: hidden;

    border-radius: 10px;
}

.other-games .game .thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.other-games .game .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    text-align: center;

    background-color: #00000080;

    pointer-events: none;

    opacity: 0;
    
    transition: all 0.25s;
}

.other-games .game .text h1 {
    translate: 0 10px;

    text-transform: uppercase;

    transition: all 0.25s;
}

.other-games .game:hover {
    box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.3),
    10px 10px 50px rgba(0, 0, 0, 0.3);

    border: 5px solid var(--colour1);

    scale: 1.1;
}

.other-games .game:hover .text {
    opacity: 1;
}

.other-games .game:hover .text h1 {
    translate: 0;
}

@keyframes dot-bounce {
    from, to {
        translate: 0;
    }

    50% {
        translate: 0 -50px;
    }
}

@keyframes rotate-phone {
    from {
        transform: rotateZ(90deg);
    }

    25% {
        transform: rotateZ(90deg);
    }

    75% {
        transform: rotateZ(180);
    }
}

@media (max-width: 1100px) {
    main .description {
        font-size: 0.75rem;
    }
}

@media (max-width: 900px) {
    main .game {
        --game-bottom-height: 50px;
        font-size: 100%;
    }

    main .description {
        font-size: 0.5rem;
    }
}

@media (max-width: 850px) {
    main {
        display: block;
    }

    main .game {
        translate: 0 -12.5%;
    }

    main .description {
        position: static;
        width: 100%;
        font-size: 0.85rem;
    }
}

@media (max-width: 450px) {
    main .game .load-screen.loaded {
        opacity: 1;
        pointer-events: all;
    }

    main .game .load-screen.loaded h1,
    main .game .load-screen.loaded .dots {
        display: none;
    }

    main .game .load-screen.loaded .rotate {
        width: 50%;
        display: block;

        animation: rotate-phone 2s infinite;
    }
}